.flows_Milo.json.backup
[{"id":"ce673752.58e6c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eab304ae.710f38","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3402ba1f.831686","type":"ui_gauge","z":"ce673752.58e6c8","name":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":390,"y":200,"wires":[]},{"id":"d1a4a7f8.9147e8","type":"ui_chart","z":"ce673752.58e6c8","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":510,"y":240,"wires":[[]]},{"id":"59ecfe6a.70f4d","type":"mqtt in","z":"ce673752.58e6c8","name":"","topic":"milo37","qos":"2","datatype":"auto","broker":"eab304ae.710f38","x":180,"y":140,"wires":[["6a8ae29a.fafb1c","3402ba1f.831686"]]},{"id":"6a8ae29a.fafb1c","type":"debug","z":"ce673752.58e6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":140,"wires":[]}]